@media screen and (max-width:1040px) {


    /* // <!-- //Header Section// --> */
    .nav-bar {
        width: 22%;

    }

    /* <!-- //First Section// --> */
    .first-item .h2-primary {
        font-size: 3rem;

    }

    .first-item .text {
        word-spacing: 0.5rem;
        font-size: 1rem;
    }

    .first-item .btn {
        padding: 0.5rem 3rem;
        font-size: 1rem;

    }

                                            /* <!-- //Second Section// --> */

    .second-container {

        width: 90%;
        /* height: 250vh; */
        background: url(/images/v.png);
        background-repeat: no-repeat;
        background-size: 600px 750px;
        background-position: 300px 50px;
    
    
    }
 
    .second-left .left-img {
        width: 100%;
        
    }
 


    .second-right{
        width: 70%;
     
    
    }
    .second-col {
        /* padding: 2rem 1rem; */
        flex-basis:40%;
        bottom: 40vh;
        left: 16.5rem;
    
    }
        
                                         /* <!-- //Third  Section// --> */
   
        .third.title-text{
            width: 100%;
        }
        .third.title-text .h1-primary{
            width: 60%;
            font-size:2.2rem;
        }
     
        .third.loader .h1-primary::after{
            width: 0.2rem;
            height: 10vh;
        }
        .third-col{
            flex-basis: 30%;
        } 
        .third-col .p-primary{
            font-size: 1rem;
        }
    
        .third-col .h1-primary{
            font-size: 1rem;
        }


        /* <!-- //fifth-section// --> */
    
        .fifth-row{

            width: 90%;
           
        
        }
        .fifth-col .number .h1-primary{
            /* padding: 0.5rem 1rem; */
            width: 60%
        }
        .fifth-col .heading .h1-primary{
            font-size: 1.5rem;
            font-weight: 200;
            padding: 1rem 0rem;
        }
        .fifth-col .paragraph .p-primary{
            font-size: 1rem;
            font-weight: 200;
            font-style: italic;
            padding: 1rem 0.5rem;
            line-height: 25px;
            letter-spacing: 1px;
            
        }
                                /* <!-- //six-section// --> */

                                
        .six-section {
          
            margin: -100px auto 0 calc(((100% - 1000px) / 2));
          
            
        }
      


        
                        /* <!-- //seven-section// --> */

                     
        .seven.title-text .h1-primary{
            width: 80%;
            letter-spacing: 3px;
            
    
        }         
        .seven.loader .h1-primary::after{
            width: 0.2rem;
            height: 10vh;
            
         }     

         

                        

}

@media screen and (max-width:780px) {


                                             /* <!-- //Second Section// --> */
    .second-col {
        padding: 2rem 1rem;
        flex-basis:45%;
        bottom: 40vh;
        left: 16.5rem;
    
    }
    .second-col .h3-primary{
        font-size: 0.9rem;
    }
                            /* <!-- //Third  Section// --> */

    .third.title-text .h1-primary{
        font-size: 2rem;
        width: 75%;
        
    }

                                /* <!-- //six-section// --> */

                                
    .six-section {

        margin: -90px auto 0 calc(((100% - 700px) / 2));
    
        
    }
    .six-items {
        width: 120%;
        top: -20vh;
        left: 10rem;
    }

    .six-img{
        width:65vw;
        height: 100vh;
        position: absolute;
        top: 80vh;
        left: 0px;
    
    }
    .six-items .h1-primary {
        /* color: black; */
        font-size: 1.5rem;
       
    
    }
    .six-items .p-primary {
        /* color: black; */
        font-size: 1rem;
       
    }





                   /* <!-- //seven-section// --> */

                     
    .seven.title-text .h1-primary{
        width: 90%;
        font-size: 2rem;
        letter-spacing: 2px;
       

    }         
  
                    
}
    






@media screen and (max-width:450px) {
    .nav-bar {
        width: 60%;

    }

    .first-item .h2-primary {
        font-size: 1.2rem;
    }

    .first-item .text {

        word-spacing: 0.2rem;
        font-size: 0.5rem;
    }

    .first-item .btn {
        padding: 0.5rem 1rem;
        font-size: 0.5rem;

    }

      /* <!-- //Second Section// --> */
      .second-container {

        width: 80%;
        /* height: 250vh; */
        background: url(/images/v.png);
        background-repeat: no-repeat;
        background-size: 200px 550px;
        background-position: 120px 50px; 
    
    
    }
    .second-left .left-img {
        width: 100%;
        /* height: 100vh; */
      
        
    }
    
    .second-right{
        width: 80%;
     
    
    }
    .second-col {
        flex-basis:100%;
        bottom: 3vh;
        left: 2rem;

    }
    .second-col .h3-primary{
        font-size: 1.2rem;
    }



    /* <!-- //Third  Section// --> */

    .third.title-text .h1-primary{
        width: 100%;
        
    }
    
    .third.loader .h1-primary{
        width: 100%;
        font-size: 0.9rem;
    }
 
    .third.loader .h1-primary::after{
        
        width: 0.5vw;
        height: 5vh;
    }
      
    .third-row{
        width: 90%;
    }

    .third-col{
        flex-basis: 100%;
    }
    .third-col .h1-primary{
        font-size: 1.6rem;
    }
    .third-round-img{
        width: 100%;
    }


  /* <!-- //fifth-section// --> */

  .fifth-section{
    height: 400vh;
   }
   .fifth-row{
    width: 90%;

   }
   .fifth-col{
    height: 370px;
    flex-basis: 100%;
   }
   .fifth-col .number .h1-primary{
    padding: 0.5rem 1rem;
    width: 33%;
   }
   .fifth-col .heading .h1-primary{
    font-size: 2.6rem;
    font-weight: 200;
    padding: 1rem 0.5rem;
   }
.fifth-col .paragraph .p-primary{
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    padding: 1rem 0.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    
   }
                                  /* <!-- //six-section// --> */

                        
.six-section {
    position: relative;
    height: 90vh;
    margin: -239px auto 0 calc(((120% - 400px) / 2));
    width: 65%;
    background: #b8bef0;
    
}                                

.six-items {
    width: 120%;
    height: 100vh;
    top: -5vh;
    left: 1rem;
    }

.six-img{
    width:82vw;
    height: 70vh;
    position: absolute;
    top: 90vh;
    left: -15px;

    }
.six-items .h1-primary {

    font-size: 1.5rem;
    

    }
.six-items .p-primary {
  
    font-size: 1rem;
    
}
.six-items .btn {
    font-size: 0.8rem;
}


                /* <!-- //seven-section// --> */

                     
    .seven.title-text .h1-primary{
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 0.5px;

    }
    .seven.loader .h1-primary::after{
        width: 0.1rem;
        height: 6vh;
     } 
             
              
    .seven-row{
        flex-basis: 100%;
    }
    .seven-row{
        margin-bottom: 5rem;
    }
    


}


@media screen and (max-width:390px) {



                    /* <!-- //six-section// --> */
.six-section {
    position: relative;
    height: 90vh;
    margin: -239px auto 0 calc(((30% - 50px) / 2));    
}            



                  /* <!-- //seven-section// --> */
                 
.seven.title-text .h1-primary{
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;

   }
.seven.loader .h1-primary::after{
    width: 0.1rem;
    height: 5vh;
    } 
}

  

                        


@media screen and (max-width:350px) {

                    /* <!-- //six-section// --> */
.six-img{
    top: 75vh;
    
   
}
.six-items .h1-primary {
 
    font-size: 1rem;
   

}

.six-items .p-primary {
    /* color: black; */
    font-size: 0.8rem;
   
}

.six-items .btn {
    
    font-size: 0.4rem;
    
}

                   /* <!-- //seven-section// --> */
                 
.seven.title-text .h1-primary{
    width: 100%;
    font-size: 1.1rem;
    letter-spacing: 1px;

    }
.seven.loader .h1-primary::after{
    width: 0.1rem;
    height: 5vh;
    } 

}
