@media screen and (max-width:1040px) {


    /* // <!-- //Header Section// --> */
    .nav-bar {
        width: 22%;

    }

    /* <!-- //First Section// --> */
    .first-item .h2-primary {
        font-size: 3rem;

    }

    .first-item .text {
        word-spacing: 0.5rem;
        font-size: 1rem;
    }

    .first-item .btn {
        padding: 0.5rem 3rem;
        font-size: 1rem;

    }

    /* <!-- //Second Section// --> */

    .second-container {

        width: 90%;
        /* height: 250vh; */
        background: url(/images/v.png);
        background-repeat: no-repeat;
        background-size: 600px 750px;
        background-position: 300px 50px;
    
    
    }
 
    .second-left .left-img {
        width: 100%;
        
    }
 


    .second-right{
        width: 70%;
     
    
    }
    .second-col {
        /* padding: 2rem 1rem; */
        flex-basis:60%;
        bottom: 40vh;
        left: 16.5rem;
    
      

    }
        /* <!-- //Third  Section// --> */
        .title-text .h1-primary{
            width: 75%;
        }
        .loader .h1-primary{
            font-size:2.1rem;
        }
     
        .loader .h1-primary::after{
            width: 0.2rem;
            height: 9vh;
        }
        .third-col{
            flex-basis: 30%;
        } 
        .third-col .p-primary{
            font-size: 1rem;
        }
    
        .third-col .h1-primary{
            font-size: 1rem;
        }
}

@media screen and (max-width:430px) {
    .nav-bar {
        width: 60%;

    }

    .first-item .h2-primary {
        font-size: 1.2rem;
    }

    .first-item .text {

        word-spacing: 0.2rem;
        font-size: 0.5rem;
    }

    .first-item .btn {
        padding: 0.5rem 1rem;
        font-size: 0.5rem;

    }

      /* <!-- //Second Section// --> */
      .second-container {

        width: 80%;
        /* height: 250vh; */
        background: url(/images/v.png);
        background-repeat: no-repeat;
        background-size: 200px 550px;
        background-position: 120px 50px; 
    
    
    }
    .second-left .left-img {
        width: 100%;
        /* height: 100vh; */
      
        
    }
    
    .second-right{
        width: 80%;
     
    
    }
    .second-col {
        flex-basis:100%;
        bottom: 3vh;
        left: 2rem;

    }
    .second-col .h3-primary{
        font-size: 1.2rem;
    }
    /* <!-- //Third  Section// --> */
    .title-text .h1-primary{
        width: 100%;
    }
    .loader .h1-primary{
        font-size: 0.8rem;
    }
 
    .loader .h1-primary::after{
        width: 0.1rem;
        height: 3vh;
    }
      


    .third-col{
        flex-basis: 100%;
    }
    .third-round-img{
        width: 100%;
    }

}

